header {
    background-color: #6d597a;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}

footer {
    background-color: #a5be00;
}

.centered {
    text-align: center;
}

.intro {
    max-width: 400px;
    text-align: left;
}

.header-image {
    border-radius: 32px;
}

.heading-text {
    font-family: Arial, Helvetica, sans-serif;
}

.main-section {
    max-width: 500px;
    margin: auto;
}

.nav {
    text-align: center;
    margin: 20px 0;
}

.link {
    text-decoration: none;
    color: black;
    border: solid darkslateblue 3px;
    background-color: aliceblue;
    padding: 10px 15px;
    border-radius: 15px;
}
